body {
  background-color: rgb(200,0,0);
  font-family: fantasy;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 200px auto 100px;
  grid-template-rows: 100px auto 100px;
  grid-gap: 10px;
  height: 97vh;
}

top-left,
top-center,
top-right,
middle-left,
middle-center,
middle-right,
bottom-left,
bottom-center,
bottom-right {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

top-left {
  padding: 10px;
}

top-center {
  padding: 25px;
  font-size:35px;
  font-style: italic;
}

bottom-left {
  text-align: center;
  font-size: 25px;
  padding: 15px;
}

middle-center {
  font-family: serif;
  font-size: 27px;
  padding: 45px;
  line-height: 1.5;
  overflow: auto;
}

.sadcomputer {
  height: 100%;
}

.blinking{
    animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
    48%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.rainbow {
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
